//- meta
meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
meta(charset="utf-8")

//- favicons
//- link(rel="icon" href="assets/img/favicons/favicon-16.png" sizes="16x16")
//- link(rel="icon" href="assets/img/favicons/favicon-32.png")
//- link(rel="apple-touch-icon" href="assets/img/favicons/apple-touch-icon-144x144.png" sizes="144x144")
//- link(rel="apple-touch-icon" href="assets/img/favicons/apple-touch-icon-114x114.png" sizes="114x114")
//- link(rel="apple-touch-icon" href="assets/img/favicons/apple-touch-icon-72x72.png" sizes="72x72")
//- link(rel="apple-touch-icon" href="assets/img/favicons/apple-touch-icon.png")

//- page_infos
block page_infos

//- SEO
meta(name="description" content=description)
meta(name="robots" content="index,follow")
title=title

//- Open Graph
meta(property="og:type" content=open_graph_type)
meta(property="og:title" content=title)
meta(property="og:description" content=description)
meta(property="og:url" content=site_url)
meta(property="og:image" content=share_img_url)

//- Twitter Cards
meta(name="twitter:card" content=twitter_card_type)
meta(name="twitter:title" content=title)
meta(name="twitter:description" content=description)
meta(name="twitter:url" content=site_url)
meta(name="twitter:image" content=share_img_url)
