//- meta
meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
meta(charset="utf-8")

//- favicons
link(rel="icon" href="assets/img/favicon.png" sizes="32x32")

//- page_infos
block page_infos

-var site_url = "http://afonsopacifer.github.io/"
-var share_img_url = "http://afonsopacifer.github.io/assets/img/afonso-pacifer-2x.png"

//- SEO
meta(name="description" content=description)
meta(name="robots" content="index,follow")
title=title

//- Open Graph
meta(property="og:type" content="website")
meta(property="og:title" content=title)
meta(property="og:description" content=description)
meta(property="og:url" content=site_url)
meta(property="og:image" content=share_img_url)

//- Twitter Cards
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content=title)
meta(name="twitter:description" content=description)
meta(name="twitter:url" content=site_url)
meta(name="twitter:image" content=share_img_url)
