mixin postBox(date, url, name, lang, local)
	article.article-box
		span(class="article-box__date")=date
		a(href=url class="article-box__link" target="_blank")
			h3(class="article-box__h3")=name
		div.article-box__bottom
			if lang
				include ../includes/svg-icons/br-flag.pug
			span(class="article-box__bottom__text") Avaible on #{span=local}

mixin videoBox(date, url, theme, lang, time)
	article.article-box
		span(class="article-box__date")=date
		a(href=url class="article-box__link" target="_blank")
			h3(class="article-box__h3")=theme
		a(href=url class="article-box__text" target="_blank")
		div.article-box__bottom
			if lang
				include ../includes/svg-icons/br-flag.pug
			span(class="article-box__bottom__text") Duration #{span=time}

mixin talkBox(date, video, event, theme, attendees, local, address, slides)
	article.article-box 
		span(class="article-box__date")=date

		if video
			a(href=video class="article-box__link" target="_blank")
				h3(class="article-box__h3")=event
		else
			a(href=slides class="article-box__link" target="_blank")
				h3(class="article-box__h3")=event

		p.article-box__text
			|#{span=theme} <br>
			|Attendance: #{span=attendees} <br>
			|#{span=local}#{span=address} <br>
		div.article-box__bottom
			if slides
				a(href=slides target="_blank" class="article-box__bottom__btn") Slides
			if video
				a(href=video target="_blank" class="article-box__bottom__btn") video

mixin projectBox(date, url, name, description, tech)
	article.article-box
		span(class="article-box__date")=date
		a(href=url class="article-box__link" target="_blank")
			h3(class="article-box__h3")=name
		a(href=url class="article-box__text" target="_blank")
			span=description
		div.article-box__bottom.article-box__bottom--icons-list
			for tech17 in tech
				img(src="assets/img/tech/"+ tech17 alt=tech17 class="article-box__bottom__icon")
