extends ./layouts/classic.pug

block page_infos
	-var title = ""
	-var description = "";

block content

		h1.heading-lv1 Hello Lek! I'm Afonso.

		p.paragraph.
			An Web Platform Evangelist and Open Source Developer <i class="em em-heart"></i>. 
			Co-fouder and content manager of <a href="https://csshortcut.github.io/" class="text-link">@csshortcut</a>, 
			host on <a href="https://www.youtube.com/c/CSSCastShows" class="text-link">@csscasthow</a> youtube channel,
			volunteer in <a href="https://github.com/Webschool-io" class="text-link">@webschool-io</a> 
			and alpha team member of <a href="https://github.com/css-brasil" class="text-link">@css-brasil</a>.

		p.paragraph Contact me with afonsopacifer@live.com

		//- section
		//- 	h2(class="heading-lv2") Recent articles

		//- 	for post17 in articles_2017
		//- 		if !post17.draft
		//- 			article.article
		//- 				span(class="text-date")=post17.date
		//- 				a(href=post17.url class="text-link" target="_blank")
		//- 					h3(class="heading-lv3")=post17.name
		//- 				a(href=post17.url class="sub-heading" target="_blank")
		//- 					if post17.lang
		//- 						include includes/svg-icons/br-flag.pug
		//- 					|Avaible on #{span=post17.local}


		//- section
		//- 	h2(class="heading-lv2") Recent Videos

		//- 	for video17 in videos_2017
		//- 			article.article
		//- 				span(class="text-date")=video17.date
		//- 				a(href=video17.url class="text-link" target="_blank")
		//- 					h3(class="heading-lv3")=video17.theme
		//- 				a(href=video17.url class="sub-heading" target="_blank")
		//- 					|Duration #{span=video17.time} [#{span=video17.lang}]