extends ./layouts/classic.pug

block page_infos
	-var title = "Web Platform Evangelist and Open Source Developer - Afonso Pacifer"
	-var description = "Web Platform Evangelist and Open Source Developer. Co-fouder and content manager of @csshortcut, host on @csscasthow youtube channel, volunteer in @webschool-io and alpha team member of @css-brasil.";

block content

		h1.heading-lv1 Hello Lek! I'm Afonso.

		p.paragraph.
			Web Platform Evangelist and Open Source Developer <i class="em em-sunglasses"></i>. 
			Co-founder and content manager of <a href="https://csshortcut.github.io/" class="paragraph__link">@csshortcut</a>, 
			host on <a href="https://www.youtube.com/c/CSSCastShows" class="paragraph__link">@csscasthow</a> youtube channel,
			volunteer in <a href="https://github.com/Webschool-io" class="paragraph__link">@webschool-io</a>
			and alpha team member of <a href="https://github.com/css-brasil" class="paragraph__link">@css-brasil</a>.

		p.paragraph.
			Contact me with afonsopacifer@live.com

		//- Posts
		//- ------------------------------------
		h2(class="heading-lv2") Recent Posts

		section.section-box

			- for (var i = 0; i < 4; ++i)
				if !articles_2017[i].draft
					article.article-box.article-box.article-box--col-3
						a(href=articles_2017[i].url class="article-box__link" target="_blank")
							h3(class="article-box__h3 article-box__h3--small")=articles_2017[i].name
						if articles_2017[i].lang
							div.article-box__bottom
								include includes/svg-icons/br-flag.pug
								span(class="article-box__date")=articles_2017[i].date

		//- Videos
		//- ------------------------------------
		h2(class="heading-lv2") Recent Videos

		section.section-box

			- for (var i = 0; i < 3; ++i)
				article.article-box.article-box.article-box--col-3
					a(href=videos_2017[i].url class="article-box__link" target="_blank")
						h3(class="article-box__h3 article-box__h3--small")=videos_2017[i].theme
					if videos_2017[i].lang
						div.article-box__bottom
							include includes/svg-icons/br-flag.pug
							span(class="article-box__date")=videos_2017[i].date

		//- Courses
		//- ------------------------------------
		h2(class="heading-lv2") Courses

		section.section-box

			for course in courses
				article.article-box.article-box.article-box--col-2
					a(href=course.url class="article-box__link" target="_blank")
						h3(class="article-box__h3 article-box__h3--small")=course.name
					iframe(class="article-box__video" src=course.video frameborder="0" allowfullscreen)
					if course.lang
						div.article-box__bottom
							include includes/svg-icons/br-flag.pug
							span(class="article-box__date")=course.date
