extends ./layouts/classic.pug

block page_infos
	-var title = "Web Platform Evangelist and Open Source Developer - Afonso Pacifer"
	-var description = "Web Platform Evangelist and Open Source Developer. Co-fouder and content manager of @csshortcut, host on @csscasthow youtube channel, volunteer in @webschool-io and alpha team member of @css-brasil.";

block content

		h1.heading-lv1 Hello Lek! I'm Afonso.

		p.paragraph.
			Web Platform Evangelist and Open Source Developer <i class="em em-sunglasses"></i>. 
			Co-fouder and content manager of <a href="https://csshortcut.github.io/" class="text-link">@csshortcut</a>, 
			host on <a href="https://www.youtube.com/c/CSSCastShows" class="text-link">@csscasthow</a> youtube channel,
			volunteer in <a href="https://github.com/Webschool-io" class="text-link">@webschool-io</a>
			and alpha team member of <a href="https://github.com/css-brasil" class="text-link">@css-brasil</a>.

		p.paragraph.
			Contact me with afonsopacifer@live.com

		//- Posts
		//- ------------------------------------
		h2(class="heading-lv2") Recent Posts

		section.recent-section

			- for (var i = 0; i < 4; ++i)
				if !articles_2017[i].draft
					article.recent-article
						a(href=articles_2017[i].url class="text-link" target="_blank")
							h3(class="recent-txt")=articles_2017[i].name
						if articles_2017[i].lang
							div.recent-info
								include includes/svg-icons/br-flag.pug
								span(class="text-date")=articles_2017[i].date

		//- Videos
		//- ------------------------------------
		h2(class="heading-lv2") Recent Videos

		section.recent-section

			- for (var i = 0; i < 3; ++i)
				article.recent-article
					a(href=videos_2017[i].url class="text-link" target="_blank")
						h3(class="recent-txt")=videos_2017[i].theme
					if videos_2017[i].lang
						div.recent-info
							include includes/svg-icons/br-flag.pug
							span(class="text-date")=videos_2017[i].date

		//- Courses
		//- ------------------------------------
		h2(class="heading-lv2") Courses

		section.recent-section

			for course in courses
				article.course-article
					a(href=course.url class="text-link" target="_blank")
						h3(class="recent-txt")=course.name
					iframe(class="course-video" src=course.video frameborder="0" allowfullscreen)
					if course.lang
						div.recent-info
							include includes/svg-icons/br-flag.pug
							span(class="text-date")=course.date