extends ./layouts/classic.pug

block page_infos
	-var title = "Articles - Afonso Pacifer"
	-var description = "List of articles written by Afonso Pacifer."

block content

	h1(class="heading-lv1") Posts

	h2(class="heading-lv2") 2017

	for post17 in articles_2017
		if !post17.draft
			article.article
				span(class="text-date")=post17.date
				a(href=post17.url class="text-link" target="_blank")
					h3(class="heading-lv3")=post17.name
				a(href=post17.url class="sub-heading" target="_blank")
					if post17.lang
						include includes/svg-icons/br-flag.pug
					|Avaible on #{span=post17.local}

	h2(class="heading-lv2") 2016

	for post16 in articles_2016
		if !post16.draft
			article.article
				span(class="text-date")=post16.date
				a(href=post16.url class="text-link" target="_blank")
					h3(class="heading-lv3")=post16.name
				a(href=post16.url class="sub-heading" target="_blank")
					if post16.lang
						include includes/svg-icons/br-flag.pug
					|Avaible on #{span=post16.local}

	h2(class="heading-lv2") 2015

	for post15 in articles_2015
		article.article
			span(class="text-date")=post15.date
			a(href=post15.url class="text-link" target="_blank")
				h3(class="heading-lv3")=post15.name
			a(href=post15.url class="sub-heading" target="_blank")
				if post15.lang
					include includes/svg-icons/br-flag.pug
				|Avaible on #{span=post15.local}
