extends ./layouts/classic.pug

block page_infos
	-var title = "Projects - Afonso Pacifer"
	-var description = "List of open source projects developed by Afonso Pacifer."

block content

	h1(class="heading-lv1") Open Source Projects

	h2(class="heading-lv2") 2017

	for projects17 in projects_2017
		- var name = projects17.name
		- var user = projects17.user
			article.article
				span(class="text-date")=projects17.date
				a(href=projects17.url class="text-link" target="_blank")
					h3(class="heading-lv3")=projects17.name
				a(href=projects17.url class="sub-heading" target="_blank")
					span=projects17.description
				div.tech-list
					for tech17 in projects17.tech
						img(src="assets/img/tech/"+ tech17 alt=tech17 class="tech-icon")

	h2(class="heading-lv2") 2016

	for projects16 in projects_2016
		- var name = projects16.name
		- var user = projects16.user
			article.article
				span(class="text-date")=projects16.date
				a(href=projects16.url class="text-link" target="_blank")
					h3(class="heading-lv3")=projects16.name
				a(href=projects16.url class="sub-heading" target="_blank")
					span=projects16.description
				div.tech-list
					for tech16 in projects16.tech
						img(src="assets/img/tech/"+ tech16 alt=tech16 class="tech-icon")

	h2(class="heading-lv2") 2015

	for projects15 in projects_2015
		- var name = projects15.name
		- var user = projects15.user
			article.article
				span(class="text-date")=projects15.date
				a(href=projects15.url class="text-link" target="_blank")
					h3(class="heading-lv3")=projects15.name
				a(href=projects15.url class="sub-heading" target="_blank")
					span=projects15.description
				div.tech-list
					for tech15 in projects15.tech
						img(src="assets/img/tech/"+ tech15 alt=tech15 class="tech-icon")

	h2(class="heading-lv2") 2014

	for projects14 in projects_2014
		- var name = projects14.name
		- var user = projects14.user
			article.article
				span(class="text-date")=projects14.date
				a(href=projects14.url class="text-link" target="_blank")
					h3(class="heading-lv3")=projects14.name
				a(href=projects14.url class="sub-heading" target="_blank")
					span=projects14.description
				div.tech-list
					for tech14 in projects14.tech
						img(src="assets/img/tech/"+ tech14 alt=tech14 class="tech-icon")
