extends ./layouts/classic.pug

block page_infos
	-var title = ""
	-var description = ""

block content

	section.container

		h1(class="heading-lv1") Videos

		h2(class="heading-lv2") 2016

		for video16 in videos_2016
				article.article
					span(class="text-date")=video16.date
					a(href=video16.url class="text-link" target="_blank")
						h3(class="heading-lv3")=video16.theme
					a(href=video16.url class="sub-heading" target="_blank")
						|Duration #{span=video16.time} [#{span=video16.lang}]
